<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">Tasks pending...</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Tasks completed</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Create task</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">LogOut</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">SignUp</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">Login</a>
            </li>
            {% endif %}

        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>