{% extends 'layouts/base.html' %}

{%block content%}
<h1>About</h1>

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus quod voluptatibus et facilis nihil, ullam maiores neque alias modi veritatis optio rerum explicabo reiciendis maxime, mollitia inventore cum architecto ea quidem debitis ipsum. Officia ea vitae porro. Vel culpa modi iure blanditiis ratione! Doloribus voluptate assumenda quidem illo beatae velit veniam id similique explicabo molestiae vero debitis, qui nisi officia impedit sapiente? Labore magni sapiente error, reiciendis harum vel doloribus natus officia quos unde nisi, quae, sint dolores iusto ipsum. Velit dolores sapiente magni dicta blanditiis voluptas vero quisquam delectus nam provident aspernatur totam harum, ipsa possimus ipsum molestiae?
</p>

<p>Website create by {{ username }}</p>
{%endblock%}